

.miseenforme{
    font-size: 30px;
    color: #00B1A5;
    font-weight: bold;
margin-left: 100px;
}


div.mesProduits {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  margin-top: 5px;
  width: 180px;
  height: 450px;
  margin-left: 30px;
  margin-bottom: 5px;
}

div.mesProduits:hover {
  border: 1px solid #777;

}

div.mesProduits img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 10px;
  text-align: center;
}

.column {
  float: left;
  width: 40%;
  padding: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.column2 {
float: left;
  width: 30%;
  padding: 10px;

}


.row2:after {
   content: "";
  display: table;
  clear: both;

}
.message {
  position: fixed;
  bottom: 75px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.message-header {
  padding: 25px 15px;
  background: #6779FF;
  font-size: 30px;
  color: white;
}

.message-container {
  padding: 15px;
  background-color: #BAC2FF;
  color: black
}

.fermeture {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.fermeture:hover {
  color: white;
}

